@import "tailwindcss";


/* =============================== Root Variables ================================ */

@theme{
  --color-primary: #f84565;
  --color-primary-dull: #D63854;
}


@font-face {
  font-family: "Outfit";
  src: url("./assets/fonts/Outfit.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "Oswald";
  src: url("./assets/fonts/Oswald.ttf") format("truetype");
  font-weight: 200 700;
  font-style: normal;
}

@font-face {
  font-family: "Marcellus";
  src: url("./assets/fonts/Marcellus.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

/* =============================== FONT CLASSES ================================ */
 .font-heading {
  font-family: "Marcellus", sans-serif;
}

.font-cinematic {
  font-family: "Oswald", serif;
}

* {
  font-family: "Outfit", system-ui, sans-serif;
  scrollbar-width: thin;
  scrollbar-color: #787777 #1e1e1e;
}

body{
  color: rgb(247, 247, 247);
  background-color: #0d0d0d;
}

.btn{
  
}


